---

version: "3.7"

volumes:
  database:
    driver: local

services:
  webserver:
    image: "nginx:1.11"
    depends_on:
      - php
    env_file:
      - "./.env"
    volumes:
      - "./Build/docker/nginx.conf:/etc/nginx/nginx.conf"
      - "./Build/ssl/localhost.crt:/etc/nginx/ssl/localhost.crt"
      - "./Build/ssl/localhost.key:/etc/nginx/ssl/localhost.key"
      - "./:/var/www"
    ports:
      - 8080:80
      - 443:443
  php:
    build:
      context: ./Build/php
      args:
        CONTEXT: "development"
    volumes:
      - "$SSH_AUTH_SOCK:/ssh-agent"
      - "~/.composer:/opt/local/composer"
      - "./Build/docker/php-fpm-pool.conf:/etc/php/7.3/fpm/template-www.conf:rw"
      - "./:/var/www"
    entrypoint: "/opt/local/entrypoints/entrypoint-fpm.sh"
    environment:
      COMPOSER_CACHE_DIR: "/opt/local/composer/cache"
      LOCAL_USER_ID: "${LOCAL_USER_ID}"
      LOCAL_GROUP_ID: "${LOCAL_GROUP_ID}"
      MYSQL_DATABASE: "app"
      MYSQL_USER: "app"
      MYSQL_PASSWORD: "password"
    working_dir: "/var/www"
    expose:
      - 9000
    links:
      - database
  database:
    image: "mariadb:10.3"
    volumes:
      - "database:/var/lib/mysql"
      - "./Build/docker/mariadb.cnf:/etc/mysql/conf.d/mariadb.cnf"
    env_file:
      - "./.env"
    ports:
      - "${MYSQL_PORT}:3306"
