<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:discipl="http://typo3.org/ns/Discipl/Site/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:layout name="Default" />

<f:section name="Main">
    <discipl:pageRenderer.addJsFooterFile
            file="{f:uri.resource(path: 'Javascript/main.ddcba7e7.js', extensionName: 'waardepapieren')}"
    />

    <discipl:pageRenderer.addCss
            file="{f:uri.resource(path: 'uno/components/form/form.css', extensionName: 'nl_design_system')}"
    />
    <discipl:pageRenderer.addCss
            file="{f:uri.resource(path: 'uno/components/form/input.css', extensionName: 'nl_design_system')}"
    />
    <discipl:pageRenderer.addCss
            file="{f:uri.resource(path: 'uno/components/label/label.css', extensionName: 'nl_design_system')}"
    />
    <discipl:pageRenderer.addCss
            file="{f:uri.resource(path: 'uno/components/button/button.css', extensionName: 'nl_design_system')}"
    />
    <discipl:pageRenderer.addCss
            file="{f:uri.resource(path: 'uno/components/lists/definition-list.css', extensionName: 'nl_design_system')}"
    />
    <discipl:pageRenderer.addCss
            file="{f:uri.resource(path: 'uno/components/images/images.css', extensionName: 'nl_design_system')}"
    />

    <script>
        window.waardepapierenConfigUrl = '{f:uri.resource(path: '{settings.configuration}', extensionName: 'waardepapieren')}';
    </script>
    <div id="root"></div>
</f:section>

</html>
