<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:discipl="http://typo3.org/ns/Discipl/Site/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:layout name="Default" />

<f:section name="Main">
    <discipl:pageRenderer.addJsFooterFile file="/static/js/2.962d2ab1.chunk.js" />
    <discipl:pageRenderer.addJsFooterFile file="/static/js/main.0eafbfab.chunk.js" />
    <discipl:pageRenderer.addJsFooterFile file="/static/js/inline.js" />

    <div id="root"></div>
</f:section>

</html>