<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:layout name="OpenGemeentenNlDesignSystem-Default" />

<f:section name="Content">
    <main class="skiplink-target main" id="content" tabindex="-1">
        <div class="container">
            <section class="row">
                <div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content">
                        <header class="content__header">
                        </header>
                    </div>
                </div>
            </section>
            <article>
                <div class="row">
                    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                        <div class="content-background">
                            <div class="content">
                                {column-0 -> f:format.raw()}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </main>
</f:section>

</html>
